body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-outer {
  height: 100vh;
  color: #7e7e7e;
}

.datepicker {
  color: rgba(0,0,0,0.17);
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.pt-2 {
  padding-top: 2em !important;
}

.pt-1 {
  padding-top: 1em !important;
}

a.test_link {
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}

.test_id {
  font-size: 30px;
  color: #333;
}

.check_icon {
  color: #43a047;
  padding: 20px;
}

.check_icon i {
  font-size: 120px;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
}

.recorder {
  line-height: 50px;
}

.recorder audio {
  vertical-align: middle;
}

.recorder-word {
  line-height: 50px;
}

.recorder button {
  margin-right: 20px;
  align-items: center;
}

.recorder button.stop {
  animation: beat .25s infinite alternate;
  transform-origin: center;
}

.recorder i {
  font-size: 25px;
}

@keyframes beat {
	to { transform: scale(1.2); }
}
